{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'event_portal/main.css' %}">
    {% block extra_css %}
    
    {% endblock extra_css %}

    <title>
        {% block title %}
        Community Events Portal
        {% endblock title %}
    </title>

</head>

<body>
    <!-- NAVBAR -->

    <nav class="navbar">

        <div class="logo">Events Portal</div>

        <ul class="nav-links">
            <li><a href="{% url 'event_portal:home' %}">Home</a></li>
            <li><a href="{% url 'event_portal:about' %}">About</a></li>
            <li><a href="{% url 'event_portal:events' %}">Event</a></li>
            <li><a href="{% url 'event_portal:contact' %}">Contact us</a></li>
        </ul>

        <button class="ticket-btn">Get Ticket →</button>

    </nav>

    {% block content %}

    {% endblock content %}

</body>
</html>