<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Freelancer Portfolio{% endblock %}</title>
</head>

<body>

<header>
    <h1>My Freelancer Portfolio</h1>

    <nav>
        <a href="/services/">Services</a> 
        <a href="/testimonials/">Testimonials</a> 
        <a href="/case-studies/">Case Studies</a> 
        <a href="/blog/">Blog</a> 
        <a href="/pricing/">Pricing</a>
    </nav>

</header>

{% block content %}

{% endblock %}

<footer>
    <p>© 2026 My Freelancer Portfolio</p>
</footer>

</body>
</html>